eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
     defaultZone: http://localhost:8761/eureka/    
  instance:
    hostname: localhost

spring:
  cloud:
    gateway:
      routes:
        - id: contact-service
          uri: lb://contact-ms
          predicates:
            - Path=/contacts/**
         
        - id: user-service
          uri: lb://user-ms
          predicates:
            - Path=/user/**
    
management:
 endpoints: 
  web:
   exposure:
    include: health,info			
